`<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Kegiatan</h2>
                    <p class="lead">Kurang lengkap bilamana sebuah komunitas tanpa kegiatan, demikian pula dengan JUG Indonesia.
                    JUG Indonesia telah lebih dari satu dekade ini mengadakan kegiatan, dimulai dari JaMU (Java Meet Up), dilanjutkan dengan program kegiatan lainnya seperti dengan Oracle untuk Oracle Gelatika, dan mendukung program berhubungan dengan Java seperti Eclipse DemoCamp.
                    JUG Indonesia juga peduli dengan situasi bangsa dan negara, juga melahirkan program kegiatan berkala    bernama JUGragan, sebuah kegiatan komunitas untuk meningkatkan jiwa kewirausahaan dan tentu saja semua menggunakan Java.
                    Jangan biarkan diri anda tidak terupdate dengan tidak mendukung program kegiatan ini. Mari menjadi dari bagian dari mekanisme kontribusi JUG Indonesia. </p>
            </div>
        </div><!-- ./class=container -->
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-users2"></i>
                    <h2>JaMU</h2>
                    <h3>JaMU (Java Meet Up) adalah kegiatan berkala JUG Indonesia.
                        Merupakan kegiatan sharing session dari anggota untuk anggota.
                        Bilamana Anda ingin menjadi pembicara atau memiliki topik yang mau dishare di acara ini, silahkan email saja idenya di milis atau menghubungi moderator untuk informasi lebih lanjut.</h3>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
            data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-users"></i>
                    <h2>JUGragan</h2>
                    <h3>JUGragan adalah kegiatan sharing yang bertujuan menciptakan para pengusaha baru yang menggunakan teknologi Java baik sebagai komponen, aplikasi atau platformnya.
                    Program ini diciptakan guna mendukung dan meningkatkan jiwa kewirausahaan di  Indonesia yang kita ketahui sangat minim.</h3>
                </div>
            </div><!--/.col-md-4-->
        </div><!-- ./class=container -->
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
             data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-profile"></i>
                    <h2>Oracle Gelatika</h2>
                    <h3>Oracle Gelatika adalah sebuah program kerja sama JUG Indonesia dengan Oracle Indonesia. Dengan program utama melakukan sharing session seputar teknologi Java dilingkungan Oracle, yaitu area Fusion Middleware.</h3>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" 
             data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="icon-user3"></i>
                    <h2>Eclipse DemoCamp</h2>
                    <h3>Bekerja sama dengan Eclipse dan Meruvian, JUG mengadakan kegiatan berkala Eclipse DemoCamp.</h3>
                </div>
            </div><!--/.col-md-4-->
        </div><!--/.services-->
    </div><!--/.row-->
        <!-- <div class="pull-right">
            <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
         </div>  -->
    </div>
</div>