    <section>
		<div class="container">
			<div class="col-md-9 well-no-border">
				<section class="aboutUs">
	                <h2>Selamat Datang di JUG Indonesia</h2><hr></a>
	                <p>JUG Indonesia, komunitas pengembang dengan Java terbaik di negara ini, bergabunglah, rasakan ke dahsyatannya. JUG Indonesia adalah tempat ideal untuk siapapun yang ingin berwirausaha, bekerja diluar negeri, atau menjadi "pakar" Java dengan cepat. JUG Indonesia terus mempertahankan kualitas dan keberadaannya lebih dari satu dekade, jangan tunggu lagi.</p><br><br>
				</section>
			</div>
		</div>	
	</section>